#content {
  position : fixed;
  width : 100%;
  height : 85%;
  top : 0;
  right : 0;
  left: 0;
  bottom : auto;
}
#workhistory {
  position : fixed;
  top : 85%;
  left : 0;
  bottom : auto;
  width : 70%;
  height : 15%;
}#performance {
  position : fixed;
  top : 85%;
  left : 70%;
  bottom : auto;
  width : 30%;
  height : 15%;
}
.embeddedobject {
  width:100%;
  height:100%;
  position:absolute;
}
#cleancode {
  height: 500px;
  font-size: 0.8em;
  overflow: auto;
}
.header {
  width: 32000px;
  position: relative;
}
.level {
  width: 350px;
  float: left;
}
body {
  background-color: #EFEFEF;
}
